# Django Configuration
DJANGO_SECRET_KEY=your-django-secret-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS=http://localhost:8081,http://127.0.0.1:8081
CSRF_TRUSTED_ORIGINS=http://localhost:8081,http://127.0.0.1:8081

# Enable these in production
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True

# Supabase Configuration
# Used for Django to validate Supabase JWTs. You find this in Supabase Dashboard -> Project Settings -> API -> JWT Secret
SUPABASE_JWT_SECRET=your-supabase-jwt-secret

# Used by the backend/frontend to perform database & auth operations if required
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_ANON_KEY=your-supabase-anon-key

# Database Connection (If switching from SQLite to Supabase Postgres)
# URL pattern format: postgres://postgres.[your-project-id]:[your-password]@aws-0-region.pooler.supabase.com:6543/postgres
DATABASE_URL=your-supabase-postgres-connection-string
