ALTER TABLE public.posts_community ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.posts_communitymembership ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.posts_postuploadintent ENABLE ROW LEVEL SECURITY;
